

<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 style="color:white">#WirVsVirus</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="!isMobileLayout">
      <div>
        <a mat-button [routerLink]="'/'"> Überblick </a>

      </div>
    </div>


  </mat-toolbar-row>
<app-loading-screen></app-loading-screen>
</mat-toolbar>



<router-outlet></router-outlet>




<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a [routerLink]="'/'" mat-list-item (click)="sidenav.toggle()"> <i class="material-icons">dashboard</i> Überblick </a>
      <a [routerLink]="'/q'" mat-list-item (click)="sidenav.toggle()"> <i class="material-icons">import_contacts</i>Fragen</a>

      <mat-divider></mat-divider>

      <a href="" target="_blank" mat-list-item (click)="sidenav.toggle()"> <img src="../assets/github.svg" alt="Git" height="24px">  GitHub </a>
      <a [routerLink]="'/legal'" mat-list-item (click)="sidenav.toggle()"> <i class="material-icons">import_contacts</i>Impressum & Datenschutzerklärung</a>

      <a (click)="sidenav.toggle()" mat-list-item> <i class="material-icons">close</i>Schließen</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
